#link a.active{
    color: #016A70;
    font-size: large;
    font-weight: 700;
    margin-right: 16px;
    text-decoration: underline;
}

#link a{
    color: black;
    font-size: medium;
    font-weight: 600;
    margin-right: 16px;
    text-decoration: none;
}

.profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

@media only screen and (max-width: 600px) {
    #nav-link a{
      display: block;
      margin-bottom: 8px;
    }
  }
